# Server Configuration
PORT=5000
NODE_ENV=development

# CORS Configuration
CLIENT_URL=http://localhost:3000

# MongoDB Configuration
MONGODB_USERNAME="your_username"
MONGODB_PASSWORD="your_password"
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.cv5ev8j.mongodb.net/luc_gia_duong?retryWrites=true&w=majority"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
